body{
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url(../images/fond6.jpg);
    background-repeat: no-repeat;
    background-size: 885px; 
}

.game-board {
   border: 4px solid brown;
   width: 430px;
   height: 570px;
   display:flex;
   flex-wrap: wrap;
   align-content: flex-start;
   margin: auto;
}

.tile{
    width: calc(100% / 20);
    height: calc(100% / 25);
    background-color: rgb(138, 212, 218);
    /*border: 0.1px solid rgba(151,439,186, 0.5);*/
    box-sizing: border-box;
}

.island{
    background-color: brown;
}
.crocodile{
    /*background-color: darkgreen;*/
    background-image: url(../images/crocoGif.gif);
    background-size: cover;
}

.diamond{
    background-color: brown;
    background-image: url(../images/Diamond2.png);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.pipo {
    background-image: url(../images/pirate-back.png);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.general-counter {
    top: 585px;
    padding: 9px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: bolder;
    color: brown;
    font-size: 40px;
    text-align: center;
}

.boat{
    background-color: orangered;
    border-bottom: 2px solid brown;
    box-sizing: border-box;
}
.captain{
    background-color: orangered;
    background-image: url(../images/captain3.png);
    background-size: 24px;
    border-bottom: 2px solid brown;
    box-sizing: border-box;
}
.instructions{
    border: 2px solid red;
}

.rules-container{
        /*border: 2px solid red;*/
        height: 500px;
        position: absolute;
        width: 600px;
        margin: o;
        margin: 0 0 0 -90px;

}   
.you-win, .game-over{
    position: relative;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    color: rgb(236, 120, 65);
    font-size: 44px;
    border: 5px solid lightseagreen;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: 500px;
};



